<div class="container mt-5">
  <div class="card-product">
    <%= image_tag "http://source.unsplash.com/featured/?#{@pet.species}&#{rand(1000)}"%>
    <div class="card-product-infos">
      <h2><%= @pet.name %></h2>
      <p><%= @pet.address %></p>
      <p>Found <%= pluralize(@pet.found_days_ago, 'day') %> ago</p>
    </div>
    <%= link_to '', pet_path(@pet), class: 'card-link' %>
  </div>
</div>
